body {background-color:EEE0CB}
h1 {background-color: 92b4a7; 
	text-align:center; 
	font-family:"Georgia";
	font-size: 100px;
	margin: 100px 100px;
   }

 h2{background-color:92b4a7;
 	text-align:center;
 	font-family: verdana;
 	font-size: 60px; 
 	margin:80px 50px; 
   }  

 p{background-color:B7CECE;
 	font-size:30px ;
 	text-align: center;
 	margin:80px 50px;
 	padding:100px 150px;
 	font-family:verdana ;
   }
 h3{background-color:B7CECE;
  font-size: 50px;
 	text-align:center;
 	font-family: giorgia;
  margin:50px 30px;
  padding:50px 30px;
 }  
 li{font-size: 25px;
 	font-family:giorgia;
 }
#image1 {
 text-align:left;
 margin:15px 15px;
 padding:15px 15px;
 border:5px;
 width:300px;
 }
#image2{
  text-align:right;
  margin:40px 50px;
 padding:20px 30px;
}
#image3{
  text-align:center;
  margin:25px 20px;
}
#image4{
  text-align:center;
  margin:25px 20px; 
}
#image5{
  text-align:center;
  margin:25px 20px;
}
h6{
  font-size:15px;
  font-family:verdana;
  padding:20px 15px;
  margin:20px 30px;
}
#paintings{
  text-align:right;
  margin:25px 30px;
  padding:30px 35px;
  border:5px;
}
#decoration{
  text-align:left;
  margin:25px 30px;
  padding:30px 35px;
}
